h1{
    text-align: center;
}
table{
margin: auto;
}
td{
    height: 100px;
width: 100px;
}
.vertical{
    
    
    border-left: 10px solid rgb(255, 0, 166);
    border-right: 10px solid rgb(211, 27, 162);
    border-radius: 10px;
    
}
.Horizontal{
    border-top: 10px solid red;
    border-bottom: 10px solid red;
    border-radius: 10px;

}

